<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>鼠标宏详情</title>
	<link rel="stylesheet" type="text/css" href="css/Public.css" />
	<link rel="stylesheet" type="text/css" href="css/home_page.css" />
	<script src="js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/Public.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/home_page.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div class="header_back">
		<header>
			<ul class="header_ul">
				<div class="header_ul_left">
					<li class="header_ul_li1">
						<a href="#">
							<img src="img/logo.png" />
						</a>
					</li>
					<li class="header_ul_li2">
						<div class="header_ul_li2_div">
							<a class="header_ul_li2_div_a" href="#">绝地求生</a>
						</div>
						<div class="header_ul_li2_div">
							<a class="header_ul_li2_div_a" href="#">LOL</a>
						</div>
					</li>
				</div>
				<div class="header_ul_right">
					<li class="header_ul_li3">
						<input type="text" name="" id="ss_input" value="" />
						<img src="img/ss.png" / id="ss">
					</li>
					<li class="header_ul_li4">
						<div class="login_yes">
							<a href="#" id="a_l">登录</a>
							<a href="#" id="a_r">注册</a>
						</div>
						<div class="login_no">
							<!--头像-->
							<img src="img/yx.png" / id="login_no_t">
							<!--是会员-->
							<img src="img/vip.png" / id="login_no_vip">
							<!--非会员-->
							<!--<img src="img/on_vip.png"/ id="login_no_onVip">-->
							<!--箭头-->
							<img src="img/jt_b.png" / id="login_no_jt">
							<div id="information">
								<div class="infor_top">
									<p class="infor_top_p">ID:
										<span>1231231</span>
									</p>
									<p id="infor_top_TC">退出</p>
								</div>
								<!--不是会员-->
								<div class="information_vip">
									<p class="information_vip_p1">VIP尊享会员特权</p>
									<p class="information_vip_p2">
										<img src="img/vipXz.png" />
										<span>全站资源免费下载</span>
									</p>
									<p class="information_vip_p3">开通会员</p>
								</div>
								<!--是会员-->
								<div class="information_Novip">
									<p class="information_Novip_p1">VIP尊享会员还有
										<span>23</span>天到期</p>
									<p class="information_Novip_p2">续费VIP</p>
								</div>
							</div>
						</div>

					</li>
				</div>
			</ul>
		</header>
	</div>
	<div class="bj"></div>
	<div class="content">
		<div class="content_introduce">
			<div class="content_introduce_top">
				<div class="content_introduce_L">
					<p>大神娱乐</p>
				</div>
				<div class="content_introduce_R">
					<img id="pl" src="img/xx.png" alt="" />
					<p>120</p>
					<img id="dz" src="img/dz_no.png" />
					<img id="dz_ok" src="img/dz_ok.png" />
					<span>450</span>
				</div>
			</div>

			<div class="WB_con">
				<p class="WB_con_P">
					<i>AKM</i>
					<span>压枪鼠标宏精修版</span>
					<a href="#">下载</a>
				</p>
				<p class="WB_con_P">
					<i>AKM</i>
					<span>压枪鼠标宏精修版</span>
					<a href="#">下载</a>
				</p>
				<p class="WB_con_P">
					<i>AKM</i>
					<span>压枪鼠标宏精修版</span>
					<a href="#">下载</a>
				</p>
				<p class="WB_con_P">
					<i>AKM</i>
					<span>压枪鼠标宏精修版</span>
					<a href="#">下载</a>
				</p>
				<p class="WB_con_P">
					<i>AKM</i>
					<span>压枪鼠标宏精修版</span>
					<a href="#">下载</a>
				</p>
				<p class="WB_con_P">
					<i>AKM</i>
					<span>压枪鼠标宏精修版</span>
					<a href="#">下载</a>
				</p>
				<p class="WB_con_P">
					<i>AKM</i>
					<span>压枪鼠标宏精修版</span>
					<a href="#">下载</a>
				</p>

			</div>
			<div class="PL">
				<!--未登录-->
				<span id="the_login">登录</span>
				<div class="PL_back"></div>
				<!--已登录-->
				<!--<div class="Y_login"></div>-->
				<textarea name="" id="PL_input" cols="30" rows="10" placeholder="来说两句吧..."></textarea>
				<p id="published">发表评论</p>
			</div>
			<p class="wx_text">全部评论</p>
			<!--评论内容-->
			<div class="big_cont_pl">
				<div class="pl_content">
					<img class="pl_content_img" src="img/p1.png " />
					<div class="pl_content_text">
						<div class="pl_XX">
							<p class="pl_name">122112</p>
							<p class="pl_NYR">-2018-1-14</p>
							<p class="pl_time">2:10
								<span>说：</span>
							</p>
						</div>
						<p class="pl_content_text_C">宏是计算机运用过程中用于简化操作的一系列系统代码宏是计算机运用过程中用于简化操作的一系列系统代码宏是计算机运用过程中用于简化操作的一系列系统代码宏是计算机运用过程中用于简化操作的一系列系统代码，常用于加速日常编辑和格式设置，组合多个命令，使对话框中的选项更易于访
							问，使</p>
					</div>
					<div class="pl_DZ">
						<!--未点赞-->
						<img class="dz_img" src="img/dz_N.png" />
						<!--已点赞-->
						<!--<img class="dz_img" src="img/dz_Y.png"/>-->
						<span>925</span>
						<!--</div>-->
					</div>
				</div>
				<div class="pl_content">
					<img class="pl_content_img" src="img/p1.png " />
					<div class="pl_content_text">
						<div class="pl_XX">
							<p class="pl_name">122112</p>
							<p class="pl_NYR">-2018-1-14</p>
							<p class="pl_time">2:10
								<span>说：</span>
							</p>
						</div>
						<p class="pl_content_text_C">宏是计算机运用过程中用于简化操作的一系列系统代码宏是计算机运用过程中用于简化操作的一系列系统代码宏是计算机运用过程中用于简化操作的一系列系统代码宏是计算机运用过程中用于简化操作的一系列系统代码，常用于加速日常编辑和格式设置，组合多个命令，使对话框中的选项更易于访
							问，使</p>
					</div>
					<div class="pl_DZ">
						<!--未点赞-->
						<!--<img class="dz_img" src="img/dz_N.png" />-->
						<!--已点赞-->
						<img class="dz_img" src="img/dz_Y.png" />
						<span>250</span>
						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="zz" style="display: none;"></div>
</body>

</html>