<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="css/Public.css" />
	<link rel="stylesheet" type="text/css" href="css/home.css" />
	<script src="js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/Public.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/home.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<header>
		<ul class="header_ul">
			<div class="header_ul_left">
				<li class="header_ul_li1">
					<a class="go_home" href="#">
						<img src="img/logo.png" />
					</a>
				</li>
				<li class="header_ul_li2">
					<div class="header_ul_li2_div">
						<a class="header_ul_li2_div_a" href="#">绝地求生</a>
					</div>
					<div class="header_ul_li2_div">
						<a class="header_ul_li2_div_a" href="#">LOL</a>
					</div>
				</li>
			</div>
			<div class="header_ul_right">
				<li class="header_ul_li3">
					<input type="text" name="" id="ss_input" value="" />
					<img src="img/ss.png" / id="ss">
				</li>
				<li class="header_ul_li4">
					<div class="login_yes">
						<span id="a_l">登录</span>
						<span id="a_r">注册</span>
					</div>
					<span id="userName"></span>
					<span id="userNameno" style="display:none">注销
						<span id="xiaz">下载</span>
					</span>
					<a id="recharge" href="/index" style="display:none">充值</a>
					<!-- <div class="login_no">
						<img src="img/yx.png" / id="login_no_t">
						<img src="img/vip.png" / id="login_no_vip">
						<img src="img/jt_b.png" / id="login_no_jt">
						<div id="information">
							<div class="infor_top">
								<p class="infor_top_p">ID:
									<span>1231231</span>
								</p>
								<p id="infor_top_TC">退出</p>
							</div>
							<div class="information_vip">
								<p class="information_vip_p1">VIP尊享会员特权</p>
								<p class="information_vip_p2">
									<img src="img/vipXz.png" />
									<span>全站资源免费下载</span>
								</p>
								<p class="information_vip_p3">开通会员</p>
							</div>
							<div class="information_Novip">
								<p class="information_Novip_p1">VIP尊享会员还有
									<span>23</span>天到期</p>
								<p class="information_Novip_p2">续费VIP</p>
							</div>
						</div>
					</div> -->
				</li>
			</div>
		</ul>
		<!--//登陆-->
		<div id="landing">
			<img id="gb_xx" src="img/djxx.png" />
			<img class="logo_zc" src="img/big_logo.png" />
			<ul class="landing_ul">
				<li class="landing_ul_li1"></li>
				<li class="landing_ul_li2">账号登陆</li>
				<li class="landing_ul_li3"></li>
			</ul>
			<input id="my_num" type="text" placeholder="用户名" value="chenanjie" maxlength="11" />
			<input id="my_pass" type="password" placeholder="密码" value="chenanjie123" />
			<button id="landing_btn">登陆</button>
			<p class="landing_p">
				<a href="registered.html">忘记密码</a>
			</p>
		</div>

		<!--//注册-->
		<div id="regihh">
			<img id="gb2_xx" src="img/djxx.png" />
			<img class="logo2_zc" src="img/big_logo.png" />
			<ul class="regihh_ul">
				<li class="regihh_ul_li1"></li>
				<li class="regihh_ul_li2">账号注册</li>
				<li class="regihh_ul_li3"></li>
			</ul>
			<input id="my_num2" type="text" placeholder="用户名" maxlength="11" />
			<!-- <div class="my_code_div">
				<input type="text" name="my_code" id="my_code" readonly="readonly" placeholder="验证码" maxlength="6" />
				<p id="code_my_btn">获取验证码</p>
			</div> -->
			<input id="my_pass2" type="password" placeholder="密码" />
			<button id="regihh_btn">注册</button>
			<p class="regihh_p">
				<a href="registered.html">忘记密码</a>
			</p>
		</div>
	</header>
	<div id="zz"></div>
	<div class="Zj">
		<div class="content">
			<div class="C_title">
				<p>排名</p>
				<ul>
					<li>制作</li>
					<li>适用</li>
					<li>更新时间</li>
				</ul>
			</div>
			<div class="C_content">
				<ul>
					<div class="C_content_D">
						<li class="C_content_li1">1</li>
						<li class="C_content_li2">
							<i>AKM</i>压枪宏精修版</li>
					</div>
					<li class="C_content_li3">
						<img class="li_img1" src="img/xx.png" />
						<span>120</span>
						<!--已点赞-->
						<img class="li_img2" src="img/dz_no.png" />
						<!--已点赞-->
						<!--<img class="li_img2" src="img/dz_Y.png"/>-->
						<label>450</label>
					</li>
				</ul>
				<div class="C_content_det">
					<div class="C_content_det_L">
						<a href="#">大神娱乐</a>
						<div class="C_content_det_D">
							<p>罗技G系列</p>
							<img src="img/lj_logo.png" />
						</div>
						<p class="C_content_det_L_P">
							<span>2018-01-08</span>
							<label>14:14</label>
						</p>
					</div>
					<a id="G_go" href="#">
						<img src="img/dzz.png" />
					</a>
				</div>
			</div>
			<div class="C_content">
				<ul>
					<div class="C_content_D">
						<li class="C_content_li1">2</li>
						<li class="C_content_li2">
							<i>AKM</i>压枪宏精修版</li>
					</div>
					<li class="C_content_li3">
						<img class="li_img1" src="img/xx.png" />
						<span>120</span>
						<!--已点赞-->
						<img class="li_img2" src="img/dz_no.png" />
						<!--已点赞-->
						<!--<img class="li_img2" src="img/dz_Y.png"/>-->
						<label>450</label>
					</li>
				</ul>
				<div class="C_content_det">
					<div class="C_content_det_L">
						<a href="#">大神娱乐</a>
						<div class="C_content_det_D">
							<p>双飞燕幽灵血手系列</p>
							<img src="img/xs_logo.png" />
						</div>
						<p class="C_content_det_L_P">
							<span>2018-01-08</span>
							<label>14:14</label>
						</p>
					</div>
					<a id="G_go" href="#">
						<img src="img/dzz.png" />
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	$(function () {
		// $.ajax({
		// 	url: '/file/download',
		// 	type: 'get',
		// 	success: function (data) {
		// 		console.log(data)
		// 	}
		// })
	})
</script>

</html>