<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>支付</title>
	<link rel="stylesheet" type="text/css" href="css/Public.css" />
	<link rel="stylesheet" type="text/css" href="css/pay.css" />
	<script src="js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/Public.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/pay.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<header>
		<ul class="header_ul">
			<div class="header_ul_left">
				<li class="header_ul_li1">
					<a href="#">
						<img src="img/logo.png" />
					</a>
				</li>
				<li class="header_ul_li2">
					<div class="header_ul_li2_div">
						<a class="header_ul_li2_div_a" href="#">绝地求生</a>
					</div>
					<div class="header_ul_li2_div">
						<a class="header_ul_li2_div_a" href="#">LOL</a>
					</div>
				</li>
			</div>
			<div class="header_ul_right">
				<li class="header_ul_li3">
					<input type="text" name="" id="ss_input" value="" />
					<img src="img/ss.png" / id="ss">
				</li>
				<li class="header_ul_li4">
					<div class="login_yes">
						<a href="#" id="a_l">登录</a>
						<a href="#" id="a_r">注册</a>
					</div>
					<div class="login_no">
						<!--头像-->
						<img src="img/yx.png" / id="login_no_t">
						<!--是会员-->
						<img src="img/vip.png" / id="login_no_vip">
						<!--非会员-->
						<!--<img src="img/on_vip.png"/ id="login_no_onVip">-->
						<!--箭头-->
						<img src="img/jt_b.png" / id="login_no_jt">
					</div>

					<div id="information">
						<div class="infor_top">
							<p class="infor_top_p">ID:
								<span>1231231</span>
							</p>
							<p id="infor_top_TC">退出</p>
						</div>
						<!--不是会员-->
						<div class="information_vip">
							<p class="information_vip_p1">VIP尊享会员特权</p>
							<p class="information_vip_p2">
								<img src="img/vipXz.png" />
								<span>全站资源免费下载</span>
							</p>
							<p class="information_vip_p3">开通会员</p>
						</div>
						<!--是会员-->
						<div class="information_Novip">
							<p class="information_Novip_p1">VIP尊享会员还有
								<span>23</span>天到期</p>
							<p class="information_Novip_p2">续费VIP</p>
						</div>
					</div>
				</li>
			</div>
		</ul>
	</header>
	<div class="bj"></div>
	<div class="content">
		<div class="content_pay">
			<div class="pay_titel">
				<img src="img/tj.png" />
				<p>您选择的订单提交成功</p>
				<span>支付成功后即可升级为</span>
				<label>尊享VIP</label>
			</div>
			<div class="pay_Xx">
				<img src="img/yuan.png" />
				<p>充值
					<span>50</span>元，全站
					<span>鼠标硬件宏</span>任意下载</p>
			</div>
			<p class="pay_way">选择支付方式：</p>
			<div class="choose">
				<img id="wx_pay" src="img/wx_pay.png" />
				<img id="my_pay" src="img/my_pay.png" />
			</div>
		</div>
	</div>
</body>

</html>