<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
	<link rel="stylesheet" type="text/css" href="css/Public.css" />
	<link rel="stylesheet" type="text/css" href="css/persona.css" />
	<script src="js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/Public.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/persona.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div class="content">
		<div class="content_L">
			<img src="img/p1.png" />
			<p>ID:
				<span>11111</span>
			</p>
			<ul>
				<li>我的信息</li>
				<li>修改密码</li>
			</ul>
		</div>
		<div class="content_R">

		</div>
	</div>
</body>

</html>