<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>设置密码</title>
	<link rel="stylesheet" type="text/css" href="css/Public.css" />
	<link rel="stylesheet" type="text/css" href="css/registered.css" />
	<script src="js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/Public.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/registered.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<!--每个页面都是一样的-->
	<header>
		<ul class="header_ul">
			<div class="header_ul_left">
				<li class="header_ul_li1">
					<a href="#">
						<img src="img/logo.png" />
					</a>
				</li>
				<li class="header_ul_li2">
					<div class="header_ul_li2_div">
						<a class="header_ul_li2_div_a" href="#">绝地求生</a>
					</div>
					<div class="header_ul_li2_div">
						<a class="header_ul_li2_div_a" href="#">LOL</a>
					</div>
				</li>
			</div>
			<div class="header_ul_right">
				<li class="header_ul_li3">
					<input type="text" name="" id="ss_input" value="" />
					<img src="img/ss.png" / id="ss">
				</li>
				<li class="header_ul_li4">
					<div class="login_yes">
						<span id="a_l">登录</span>
						<a href="#" id="a_r">注册</a>
					</div>
					<div class="login_no">
						<!--头像-->
						<img src="img/yx.png" / id="login_no_t">
						<!--是会员-->
						<img src="img/vip.png" / id="login_no_vip">
						<!--非会员-->
						<!--<img src="img/on_vip.png"/ id="login_no_onVip">-->
						<!--箭头-->
						<img src="img/jt_b.png" / id="login_no_jt">
						<div id="information">
							<div class="infor_top">
								<p class="infor_top_p">ID:
									<span>1231231</span>
								</p>
								<p id="infor_top_TC">退出</p>
							</div>
							<!--不是会员-->
							<div class="information_vip">
								<p class="information_vip_p1">VIP尊享会员特权</p>
								<p class="information_vip_p2">
									<img src="img/vipXz.png" />
									<span>全站资源免费下载</span>
								</p>
								<p class="information_vip_p3">开通会员</p>
							</div>
							<!--是会员-->
							<div class="information_Novip">
								<p class="information_Novip_p1">VIP尊享会员还有
									<span>23</span>天到期</p>
								<p class="information_Novip_p2">续费VIP</p>
							</div>
						</div>
					</div>

				</li>
			</div>
		</ul>
		<div id="landing">
			<img id="gb_xx" src="img/djxx.png" />
			<img class="logo_zc" src="img/big_logo.png" />
			<ul class="landing_ul">
				<li class="landing_ul_li1"></li>
				<li class="landing_ul_li2">账号登陆</li>
				<li class="landing_ul_li3"></li>
			</ul>
			<input id="my_num" type="text" placeholder="手机号" maxlength="11" />
			<input id="my_pass" type="password" placeholder="密码" />
			<button id="landing_btn">登陆</button>
			<p class="landing_p">
				<a href="registered.html">忘记密码</a>
			</p>
		</div>
	</header>
	<div id="zz"></div>
	<div class="bj"></div>
	<div class="content">
		<div class="reg_text">
			<img src="img/big_logo.png" />
		</div>
		<div class="content_reg">
			<p class="title">重置密码</p>
			<div class="reg_inp">
				<p>
					<span class="phone">手机号</span>
					<input id="phone" type="text" placeholder="输入手机号" maxlength="11" />
				</p>
				<p>
					<span class="code">手机验证码</span>
					<input id="code" type="text" placeholder="验证码" maxlength="6" readonly="readonly" />
					<label id="code_click">获取验证码</label>
				</p>
				<p>
					<span class="pass">密码</span>
					<input id="pass" type="password" placeholder="设定登录密码" />
				</p>
				<p>
					<span class="pass2">确认密码</span>
					<input id="pass2" type="password" placeholder="请再次输入一次登录密码" />
				</p>
				<button id="btn">提交</button>
			</div>
		</div>
	</div>
</body>

</html>