body{
	background: #F0F0F0;
}
.content{
	width: 100%;
	height: 100%;
	background: #f0f0f0;
}
.content_introduce{
	width: 1200px;
	height: 384px;
	background: #fff;
	margin: auto;
    position: relative;
    top: -41px;
}
.content_introduce_top{
	border-bottom: 1px solid #cccccc;
	height: 60px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 31px;
}
.content_introduce_L{
	display: flex;
	align-items: center;
}
.content_introduce_L p{
	font-size: 20px;
	color: #333333;
	margin: 0 0 0 24px;
}
.content_introduce_R{
	display: flex;
	align-items: center;
}
.content_introduce_R p{
	font-size: 14px;
	color: #a0a0a0;
	margin: 0 36px 0 10px; 
}
.content_introduce_R span{
	font-size: 14px;
	color: #a0a0a0;
	margin: 0 89px 0 9px;	
}
#pl{
	width: 25px;
	height: 25px;
}
#dz{
	width: 25px;
	height: 24px;
}
#dz_ok{
	width: 25px;
	height: 24px;
	display: none;
}
.WB_con{
	width: 1120px;
	height: 220px;
	margin: 19px auto 0;
	/*background: #fafafa;*/
	overflow: auto;
}
.WB_con_P{
	font-size: 18px;
	line-height: 18px;
	color: #333333;
	padding: 0 0 19px  20px;
}
.WB_con_P:nth-child(1){
	padding-top: 19px;
}
.WB_con_P span{
	margin: 0 96px 0 10px;
}
.WB_con_P a{
	text-decoration:underline;
	font-size: 18px;
	color: #6cb4c7;
}
.PL{
	width: 100%;
	height: 412px;
	margin-top: 20px;
	position: relative;
}
/*未登录*/
.PL_back{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 412px;
	background: url(../img/pinlunkuang.png) no-repeat;
	background-size: 1000px 248px;
	background-position:75px 100px;	
	/*display: none;*/
}
#the_login{
    font-size: 18px;
    line-height: 18px;
    color: #333333;
    position: absolute;
    z-index: 2;
    top: 29.5%;
    left: 9.9%;
	cursor: pointer;
}
.Y_login{
	position: absolute;
	z-index: -1;
	width: 1000px;
	height: 200px;	
	border: 1px solid #999999;
	border-radius: 10px;
	top: 36%;
    left: 7%;
}
#PL_input{
	width: 960px;
	height: 155px;
	border: 0;
	resize:none;
    margin: 185px 0 0 110px;
    background: #F0F0F0;
}
#published{
	width: 160px;
	height: 44px;
	border: 1px solid #6cb4c7;
	color: #6cb4c7;
	font-size: 20px;
	line-height: 44px;
	text-align: center;
	border-radius: 10px;
	float: right;
	margin-right: 123px;
    margin-top: 22px;
}
.wx_text{
	height: 56px;
	line-height: 56px;
	font-size: 20px;
	color: #333333;
	margin: 20px 0 0 0;
	border-bottom: 1px solid #999999;
}
.big_cont_pl{
	margin-bottom: 50px;
}
.pl_content{
	height: 180px;
	border-bottom: 1px solid #999999;
	display: flex;
	align-items: center;
}
.pl_content{

}
.pl_content_img{
	width: 100px;
	height: 100px;
}
.pl_content_text{
	width: 942px;
	margin: 0 18px 0 28px;
}
.pl_XX{
	display: flex;
}
.pl_name{
	font-size: 16px;
	color: #333333;
	margin: 0 6px 0 0;
	line-height: 16px;
}
.pl_NYR{
	font-size: 16px;
	color: #999999;
	line-height: 16px;
	margin: 0 11px 0 0;
}
.pl_time{
	font-size: 16px;
	color: #999999;
	line-height: 16px;
}
.pl_content_text_C{
	line-height: 24px;
	font-size: 16px;
	color: #333333;
}
.pl_DZ{
	display: flex;
	margin-bottom: 80px;
}
.dz_img{
	width: 18px;
	height: 20px;
	padding: 0 10px;
}
.pl_DZ span{
	font-size: 16px;
	color: #999999;
}
